{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

# Disable accent popup on key hold so keys repeat instead
defaults write -g ApplePressAndHoldEnabled -bool false

# Fastest repeat and very short delay
defaults write -g KeyRepeat -int 3
defaults write -g InitialKeyRepeat -int 25

# Enable navigating menu's with keyboard
defaults write NSGlobalDomain AppleKeyboardUIMode -int "2"

{{- end -}}
