{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

mkdir -p ~/Screenshots

defaults write com.apple.screencapture location ~/Screenshots
defaults write com.apple.screencapture "include-date" -bool "true"
defaults write com.apple.screencapture "disable-shadow" -bool "true"

killall SystemUIServer

{{- end -}}
